streamlit
pillow
matplotlib
pandas

# PDF
reportlab==4.4.6
xlsxwriter>=3.1.0

# OpenAI + config
openai==1.52.2
pydantic==2.9.2
python-dotenv==1.0.1
httpx==0.27.2

# DB
SQLAlchemy==2.0.32
psycopg2-binary==2.9.11
